h1, p {
    text-align: center;
}
body {
    margin: 0;
}
ul {
    border: 2px solid;
    list-style: none;
    padding: 10px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
}

@media (max-width:550px) {
    ul {
        width: 100%;
    }
}

li {
    margin-bottom: 10px;
    border: 1px solid;
    padding: 10px;
}

.text {
    margin: 0;
    padding: 1px;
    text-align: left;
    margin-bottom: 20px;
}
.data {
    text-align: right;
    margin:0;
}

.data span {
    margin-left: 10px;
    margin-right: 10px;
}

li button {
    margin-left: 10px;
}

#input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#input-container input {
    display: block;
    width: 250px;
    margin-bottom: 10px;
}

#input-container button {
    margin-left: 10px;
    margin-right: 10px;
}
